.container{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    width: 100%;
    margin-top: 1rem;
    font-weight: bold;
    font-style: bold;
    font-family: "Inter";
    padding-top: 0.3rem;
}

.bottom-buttons{
    width: 95%;
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#table{
    width: 98%;
    height: 90%;
}