.dialog-paper {
    border-radius: 30px !important;
    background-color: var(--secondary-background-color) !important;
}

.dialog-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dialog-title-text {
    text-align: center;
    font-weight: bolder !important;
    color: #004466;
}
