.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hero-section {
    background: linear-gradient(135deg, #002850 0%, #004b8d 50%, #0077cc 100%);
    color: white;
    width: 94vw;
    height: 90vh;
    margin: 20px auto;
    position: relative;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 43, 85, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    min-height: 70%;
    width: 35%;
  }

  .login-title{
    color: var(--button-color);
  }

  .forgot-password {
    text-align: right;
  }
  
  .forgot-password a {
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--button-color);
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .sign-in-button {
    margin-top: 0.5rem;
    width: 75%;
    padding: 0.75rem;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .sign-in-button:hover {
    background-color: var(--primary-color);
  }
  
  .sign-up-link {
    color: var(--primary-color);
    text-align: center;
  }

  .form-group{
    max-height: 18%;
    width: 75%;
  }
  
  .sign-up-link a {
    color: var(--button-color);
    font-weight: bold;
    text-decoration: none;
  }
  
  .sign-up-link a:hover {
    text-decoration: underline;
  }

  .divider-container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-bar-divider2 {
    border: none;
    width: 100%;
    display: block;
    height: 2px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      var(--button-color),
      rgba(0, 0, 0, 0)
    );
  }
  