
.administration-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem; 
}



.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .add-staff-form {
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .add-staff-form .form-field {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
  }

  
  .form-field-row{
    display: flex;
    gap: 25px;
    flex-direction: row;
  }
  .form-field label {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 4px;
  }
  
   .dropdown-field {
    background-color: #fff;
    border-radius: 20px !important;
  }

  
  
  /* Autocomplete specific styles */
  .add-staff-form .dropdown-field .MuiOutlinedInput-root {
    border-radius: 12px;
    height: 48px;
  }
  
  .add-staff-form .dropdown-field .MuiAutocomplete-inputRoot {
    padding: 0 !important;
  }
  
  .add-staff-form .dropdown-field .MuiAutocomplete-input {
    padding: 0 14px !important;
    height: 48px !important;
  }
  
  .dropdown-field .MuiOutlinedInput-notchedOutline,
  .text-field .MuiOutlinedInput-notchedOutline {
    border-color: #e0e0e0;
    border-width: 1px;
    color: var(--text-color);
  }

  .text-field .MuiInputBase-input,
.text-field .MuiSelect-select {
  color: var(--text-color);
  background-color: var(--secondary-background-color);
}

.text-field .MuiMenuItem-root {
  color: var(--text-color);
  background-color: var(--secondary-background-color);
}

.text-field .MuiMenuItem-root:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Optional hover effect */
}


  .text-field input{
    color: var(--text-color);
  }

  .text-field textarea{
    color: var(--text-color);
  }
  
  .add-staff-form .dialog-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
  }
  
  .add-staff-form .cancel-button,
  .add-staff-form .save-button {
    padding: 12px 0;
    width: 180px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
  }
  
  .add-staff-form .cancel-button {
    background-color: #3f7d9c;
    color: white;
  }
  
  .add-staff-form .save-button {
    background-color: #063754;
    color: white;
  }
  
  .add-staff-form .cancel-button:hover {
    background-color: #346b87;
  }
  
  .add-staff-form .save-button:hover {
    background-color: #052c45;
  }

  .privilege-section {
    margin-top: 1.5rem;

  }

  .privilege-section h4{
    color: var(--title-color);
    margin-right: 1rem;
  }
  
  #priv-title{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .form-field .text-field{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }