@import "../styles/colors.css";
.pageLayoutContainer {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  height: 100vh;
  width: 100%;
  /* overflow-y: hidden; */
}

.navbar {
  /* z-index: 10; */
  width: 20%;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

.spacer{
  height: 7%;
}

.header{
  position: fixed;
  top: 0;
}

.content {
  /* z-index: 2; */
  padding: 10px;
  overflow: auto;
  width: 80%;
  margin-left: 17.5%;
  scrollbar-width: none;
  /* overflow-y: auto; */
}

.container::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}
